/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

/* Background Gradient */
body{
    height:100vh;
    background:linear-gradient(135deg,#0f172a,#020617);
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Main Container */
.container{
    display:flex;
    align-items:center;
    gap:100px;
}

/* Title Left Side */
h1{
    color:white;
    font-size:38px;
    font-weight:600;
}

/* Glass Card */
.card{
    width:420px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(15px);
    border-radius:20px;
    padding:30px;
    text-align:center;
    box-shadow:0 0 25px rgba(0,255,255,0.2);
    transition:0.3s;
}

/* Camera Frame */
.camera{
    width:100%;
    border-radius:12px;
    border:3px solid #38bdf8;
    box-shadow:0 0 20px #38bdf8;
}

/* Camera Status */
.status{
    color:#4ade80;
    margin-bottom:15px;
}

/* Button */
.auth-btn{
    margin-top:20px;
    padding:10px 25px;
    border:none;
    border-radius:8px;
    background:#0ea5e9;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

.auth-btn:hover{
    background:#0284c7;
    transform:scale(1.05);
}

/* Emotion Box */
.emotion-box{
    margin-top:15px;
    padding:10px;
    border-radius:8px;
    background:#1e293b;
    color:#e2e8f0;
}

/* Success Token */
.success-box{
    margin-top:10px;
    padding:10px;
    border-radius:8px;
    border:2px solid #22c55e;
    color:#22c55e;
}
.scan{
    position:relative;
    width:100%;
    height:5px;
    background:linear-gradient(90deg,transparent,#22c55e,transparent);
    animation:scan 2s infinite;
    margin-top:-5px;
}

@keyframes scan{
    0%{transform:translateY(-180px);}
    100%{transform:translateY(0px);}
}